
<!-- UPLOAD --> 
{% if MYFOLDER.id %} 
	<!-- UPLOAD FILE: ONLY IF SUPERUSER OR CAN WRITE TO FOLDER -->
	{% if request.user.is_superuser or MYFOLDER.write %} 
		<button type="button" class="btn btn-lg btn-default" onClick='upload();' >
			<span class="glyphicon glyphicon glyphicon-open"></span>
		</button>
	{% endif %} 
{% endif %} 

<!-- PLAYLIST --> 
{% if MYFOLDER.id %} 
	<button type="button" class="btn btn-lg btn-default" onclick='location.href="/gallery/playlist/{{MYFOLDER.id}}/"'>
		<span class="glyphicon glyphicon glyphicon-film"></span>
	</button>
{% endif %} 

<!-- SUPERUSER TOOLS --> 
{% if request.user.is_superuser %} 

	<!-- ADD --> 
	<button type="button" class="btn btn-lg btn-default" onClick='addFolder();'>
		<span class="glyphicon glyphicon-plus"></span>
	</button>

	<!-- FOLDER TOOLS  --> 
	{% if MYFOLDER.id %} 

		<!-- DOWNLOAD ZIP --> 
		<button type="button" class="btn btn-lg btn-default" onClick='zipFolder();' >
			<span class="glyphicon glyphicon glyphicon-save"></span> 
		</button>

		<!-- MOD --> 
		<button type="button" class="btn btn-lg btn-default" onClick='editFolder();' > 
			<span class="glyphicon glyphicon-cog"></span> 
		</button>

		<!-- READ --> 
		<button type="button" class="btn btn-lg btn-default" onClick='readFolder();'>
			<span class="glyphicon 
				{% if MYFOLDER.read %} glyphicon-eye-open
				{% else %} glyphicon-ban-circle {% endif %} 
			"></span>
		</button>

		<!-- WRITE --> 
		<button type="button" class="btn btn-lg btn-default" onClick='writeFolder();'>
			<span class="glyphicon glyphicon 
				{% if MYFOLDER.write %} glyphicon-pencil
				{% else %} glyphicon-ban-circle {% endif %} 
			"></span>
		</button>

		<!-- REMOVE --> 
		<button type="button" class="btn btn-lg btn-danger" onClick='removeFolder();'>
			<span class="glyphicon glyphicon-remove"></span>
		</button>

	<!-- END OF FOLDER TOOLS --> 
	{% endif %} 

<!-- END OF SUPER USER TOOLS --> 
{% endif %} 
