{% extends 'folder/templates/section.html' %}

{% block wtitle %}
        {% if MYFOLDER.id %} {{MYFOLDER.name}}
        {% else %} Gamma
        {% endif %}
{% endblock %}

{% block main-screen-read %}
<DIV ID='FOLDER-CONTAINER'>

	<!-- SERVING FILES --> 
	{% include 'folder/templates/upload.html' %}

        <!-- SECRET META DATA -->
        <INPUT ID='F1ID'     VALUE='{{MYFOLDER.father.id|default:0}}'   TYPE='HIDDEN' />
        <INPUT ID='FOLDERID' VALUE='{{MYFOLDER.id}}'                    TYPE='HIDDEN' />
        <INPUT ID='F1Name'   VALUE='{{MYFOLDER.name}}'                  TYPE='HIDDEN' />

	<!-- FOLDERS --> 
	<div class="row">
		{% for f in subfolders %} 
  		<div class="col-xs-10 col-md-2">
    			<a href="{% url 'folder_folder' f.id %}" class="thumb_folder thumbnail">
      				<img src="/static/img/folder.png" alt="...">
				<p>{{f.name|truncatechars:20}}</p>
    			</a>
  		</div>
		{% endfor %} 
	</div>	

	<!-- FILES --> 
	<div class="row">
		{% for f in pageobj %} 
  		<div class="col-xs-10 col-md-2">
    			<a href="/gallery/{{f.id}}/" class="thumb_folder thumbnail">
				{% if   f.type = 'IMG' %} <img src="/static/img/image.png" alt="...">
				{% elif f.type = 'VID' %} <img src="/static/img/video.png" alt="...">
				{% elif f.type = 'AUD' %} <img src="/static/img/song.png"  alt="...">
				{% elif f.type = 'TXT' %} <img src="/static/img/text.png"  alt="...">
				{% elif f.type = 'PDF' %} <img src="/static/img/book.png"  alt="...">
				{% elif f.type = 'TAR' %} <img src="/static/img/case.png"  alt="...">
				{% elif f.type = 'OTH' %} <img src="/static/img/file.png"  alt="...">
				{% endif %}
				<p>{{f.name|truncatechars:20}}</p>
    			</a>
  		</div>
		{% endfor %} 
	</div>	

	<!-- PAGER --> 
	{% include 'templates/paginator.html' %}

</DIV>
{% endblock %}
