/* HTML GENERAL CSS */
* { font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
body {
	BACKGROUND-ATTACHMENT:FIXED;
	background-repeat: no-repeat;	
	BACKGROUND-POSITION:0%; 
	BACKGROUND-SIZE:100%;
	BACKGROUND-IMAGE:url('/static/bg/background.jpg');
}
.HIDDEN { display:none !important; }
.NO-STYLE-BUTTON { border:none; background:none; }
.clear-both {clear:both; } 

/* BOOTSTRAP OVERRIDE */
input { border-radius: none !important; }
.input-group { border-radius: none !important; }
.input-group-addon { border-radius: none !important; }
.navbar { margin:0% !important; font-size:1.5em; border-radius:0px !important;}
.breadcrumb { margin-bottom:0%; _background:none; margin-right:1%; }
.alert { margin:0%; }
.progress { margin:0%; }
.btn-group a { color: rgba(0,0,0,0.8) !important; }
.pagination span { font-size:1.4em; }

/* MAIN */
#MAIN { min-height:40em; margin:1% 2%; }
#TOOLBAR { margin:1% 1%; font-size:1.5em; }
#TOOLBAR A { text-decoration:none; }
#shadow { position:absolute; z-index:10000; background:black;opacity:0.9;width:100%;min-height:120em;opacity:0.5;display:none;}

/* FORM */
.myform { TABLE-LAYOUT:FIXED; width:50%; padding:2%; background:rgba(255,255,255,0.7); font-size:1.2em; }
.myform .ERR { color:red; }
.myform input, .myform select { border-radius:none; border:1px solid rgba(0,0,0,0.3); padding:1%; width:100%; background:none; }

/* SEARCH BOX */
.ui-autocomplete          { OPACITY:1.0 !important; }
.ui-autocomplete-category { font-weight: bold; padding: .2em .4em; margin: .8em 0 .2em; line-height: 1.5; }

.ui-menu-item a           { COLOR: rgba(0,0,0,0.7)!important; cursor: pointer; }
.ui-state-focus           { COLOR: BLACK   !important; background: #EEEEEE !important; }
.ui-state-focus *         { COLOR: BLACK   !important; background: #EEEEEE !important; }

