{% extends 'login/templates/section.html' %}
{% block wtitle %} 		{{user.username}} {% endblock %}
{% block section-subtitle %} 	<A HREF=''>{{user.username}}</A> {% endblock %}

{% block main-screen-tools %}
	{% if request.user.is_superuser %} 
        <li><A HREF='/admin/'><span class="glyphicon glyphicon-cog">Admin</span></a></li>
	{% endif %}
{% endblock %}

{% block main-screen-read %}

	<!-- TABLE -->
      	<ul class="list-group">

        	<li class="list-group-item"> <b>{{user.first_name}} {{user.last_name}}</b> </li>
        	<li class="list-group-item"> {{user.email}} </li>
        	<li class="list-group-item"> <b>Last Login:</b> {{user.last_login}} </li>
        	<li class="list-group-item"> <b>Joined:</b> {{user.date_joined}} </li>

        </ul> <!-- END OF TABLE -->
{% endblock %}
