
/* FOLDER */
#FOLDER-CONTAINER .thumbnail { 
	opacity:0.8;
	background:rgba(255,255,255,0.6); 
	color:black;
}
#FOLDER-CONTAINER .thumbnail { 
	background:none;
	border:none;
	text-decoration:none;
}
#FOLDER-CONTAINER .thumbnail p { 
	overflow:hidden;
	font-size:1.2em;
	font-weight:bold;
	text-align:center;
	padding: 3% 0%; 
	background: rgba(255,255,255,0.8);
}
#FOLDER-CONTAINER .thumbnail:hover { opacity:1.0; }
#FOLDER-CONTAINER .thumb_add { opacity:0.5; }
#fileinput { position:absolute; top:-100px; }

