{% extends 'mind/templates/section.html' %}
{% block wtitle %} 		The Book of Mind {% endblock %}
{% block section-subtitle %} 	<A HREF=''>The Arkaine Library</A> {% endblock %}

{% block main-screen-tools %}
        <li><A HREF='{% url "mind_padd" %}' ><span class="glyphicon glyphicon-plus"> Page</span><a></li>
	<li><A HREF='{% url "mind_add" %}'  ><span class="glyphicon glyphicon-plus"> Chapter</span><a></li>
{% endblock %}

{% block main-screen-read %}

	<!-- BOOTSTRAP THUMBNAILS --> 
	<div class="row">
	{% for c in table reversed %} 
  		<div class="col-xs-6 col-md-3">
		<CENTER>
		<A HREF='{% url "mind_chapter" c.chapter.id %}' class="thumbnail">
      			<img src="/media/{{c.chapter.image.img.name}}" style='height:15em; ' >
			<h2>{{c.number|add:1}} {{c.chapter.title|default:"Title"}}</h2>
			<p>{{c.chapter.subtitle|default:"Subtitle"}}</p>
    		</a>
		</CENTER>
  		</div>
	{% endfor %} 
	</div>

{% endblock %}
