{% extends 'mind/templates/section.html' %}
{% block wtitle %} The Arkaine Library {% endblock %}

{% block section-subtitle %} 
	<!-- TITLE --> 
	<A HREF='{% url 'mind_home' %}'>Library/</A>
	{% if elem.id %}
		<A HREF='{% url "mind_chapter" elem.id %}'>{{elem.title}}</A>	
	{% else %}
		<A HREF=''>New</A>
	{% endif %} 
{% endblock %}

{% block main-screen-read %}

	<FORM METHOD=POST>
	<CENTER>
        {% csrf_token %}
	<TABLE CLASS=EDITFORM STYLE='width:50%;'>
	<THEAD>
		{% if elem.id %}
			<TD COLSPAN=2><A HREF='{% url "mind_edit" elem.id %}'>{{elem.title}}</A></TD>
		{% else %}
			<TD COLSPAN=2>New</TD>
		{% endif %}
	</THEAD>
	<TBODY>
		{% for f in form %} 
                <TR>
                 	<TD>{{f.label}}</TD><TD ID='INPUT-{{f.label}}'>{{f}}</TD>
                </TR>
                <TR> <TD CLASS='ERR' COLSPAN=2>{{f.errors}}</TD> </TR>
                {% endfor %}
		<TR>
                        <TD COLSPAN=2> 
                                <button class="btn btn-lg btn-success" >Submit</button>
                        </TD>
                </TR>
	</TBODY>
	</TABLE>
	</FORM>

{% endblock %}
