{% extends 'templates/print.html' %}
{% block wtitle %} Worksheet Mind {% endblock %}
{% load date %}
{% load ascii %} 
{% block print %}

	<!-- INDEX --> 
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<CENTER>
		<h1> The Book of Mind </h1>
	</CENTER>
	<br>
	<br>
	<br>
	<br>
	{% for chapter in table %} 
		<CENTER>
		<h3>	
			{{forloop.counter}} - 
			{{chapter.title}}
		</h3>
		</CENTER>
	{% endfor %} 
	<br>
	<div class=page-break ></div> 

	<!-- CONTENTS --> 
	{% for chapter in table %} 
		<CENTER>
			<h1>	
				{{forloop.counter}} - 
				{{chapter.title}}
			</h1>
			<h3>{{chapter.subtitle}}</h3>
		</CENTER>
		<hr>
		{% for p in chapter.page_set.all %} 
			<br>
			<u>
			<p>{{p.title}} ~ {{p.date}}</p>
			</u>
			{{ p.text|safe }} 
			<br>
		{% endfor %} 
		<br>
		{% if not forloop.last %} 
			<div class=page-break ></div> 
		{% endif %} 
	{% endfor %} 

{% endblock %}
