{% extends 'mind/templates/section.html' %}
{% block wtitle %} 		{{page.title}} {% endblock %}
{% block section-subtitle %} 	
	        <A HREF='{% url 'mind_home' %}'>Library/</A>
                <A HREF='{% url 'mind_chapter' page.chapter.id %}'>{{page.chapter.title}}/</A>
		<A HREF=''>{{page.title}}</A> ~ {{page.date}} 
{% endblock %}
{% load date %}

{% block main-screen-tools %}
        <li><A HREF='{% url "mind_pedit" page.id %}'                  ><span class="glyphicon glyphicon-cog">Edit</span><a></li>
        <li><A onclick='confirmlink("{% url "mind_pdel" page.id%}");' ><span class="glyphicon glyphicon-remove">Delete</span><a></li>
{% endblock %}

{% block main-screen-read %}

	<!-- CONTENT --> 
        <DIV CLASS='PAGE-TEXT'>
		{{ page.text|safe }}
        </DIV>

{% endblock %}
