
<!-- HTML --> 
<div class="input-group input-group-lg" id='date-group'>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
        <input id='datepicker' type="text" class="form-control" name="DATE" autocomplete="off" placeholder="Date" 
		VALUE='{% if timex.current %}{% if show_date == "years" %}{{timex.current|date:"Y"}}
			{% elif show_date == "months" %}{{timex.current|date:"F Y"}}{% else %}{{timex.current|date:"D d F Y"}}
			{% endif %}	
		{% endif %}'
/>
</div>
<INPUT TYPE=HIDDEN 	ID='DATE-YEAR' 		VALUE='{{timex.current.year}}' 	/>
<INPUT TYPE=HIDDEN 	ID='DATE-MONTH' 	VALUE='{{timex.current.month}}' />
<INPUT TYPE=HIDDEN 	ID='DATE-DAY' 		VALUE='{{timex.current.day}}' 	/>
<DIV CLASS=HIDDEN	ID='date-tips' >
	<CENTER>
	<h1>
	<span ID='DATE-DIV-PREV' class="glyphicon glyphicon-chevron-left"></span>
	{% if show_date == "years" %}		{{timex.current|date:"Y"}}
	{% elif show_date == "months" %}	{{timex.current|date:"M Y"}}
	{% else %} 				{{timex.current|date:"Y M d"}}
	{% endif %}
	<span ID='DATE-DIV-NEXT' class="glyphicon glyphicon-chevron-right"></span>
	</h1>
	</CENTER>
</DIV>

<!-- JS --> 
<SCRIPT NAME='DATE-PAGER'>

	// ----------------------------------------------------------------------
	// Get current date.-
	// ----------------------------------------------------------------------
	var current 			= new Date({{timex.current|date:"Y,m-1,d"}});
	var year 			= current.getFullYear();
	var month			= current.getMonth()+1;
	var day				= current.getDay();
	{% if show_date == "years" %} 	month = 1 ; {% endif %}
	if ( month == 0 ) { month = 12; year -= 1 } 
	
	// ----------------------------------------------------------------------
	// CALCULATE NEXT AND PREVIOUS DATE 
	// ----------------------------------------------------------------------
	var n_month, n_year;
	{% if show_date == "years" %} 
		n_year  = year + 1; 
		p_year  = year - 1; 
		n_month = 12 ; 
		p_month = 12 ; 
	{% else %} 
		if (month >= 12) 	{ n_month = 1; 		n_year = year + 1; 	} 
		else 			{ n_month = month + 1; 	n_year = year; 		}
		if (month-1 == 0) 	{ p_month = 12; 	p_year = year - 1; 	} 
		else 			{ p_month = month - 1; 	p_year = year; 		}
	{% endif %}
	var next_date='date='+n_year+'-'+n_month+'-01';
	var prev_date='date='+p_year+'-'+p_month+'-01';

	// ----------------------------------------------------------------------
	// Date picker
	// ----------------------------------------------------------------------
	$(function() {
		$( "#datepicker" ).datepicker({
			// ----------------------------------------------------------------------
			defaultDate: current,
			{% if show_date == "years" %} 	 dateFormat: "yy",
			{% elif show_date == "months" %} dateFormat: "MM, yy",
			{% endif %}	
			changeMonth: 	true,
			changeYear: 	true,
			minDate: 	new Date(2011, 1 - 1, 1) ,
			// ----------------------------------------------------------------------
			onChangeMonthYear: function(y,m,d) {
				// ----------------------------------------------------------------------
				mydate = new Date(y,m-1,01);
				$(this).datepicker('setDate',mydate);
				year =	 mydate.getFullYear();
				month =  mydate.getMonth() + 1;
				day = 	 mydate.getDay() || 1;
				// ----------------------------------------------------------------------
				{% if show_date   == "years" %} 	m = "01/01/"+year;
				{% elif show_date == "months" %} 	m = month+"/01/"+year;
				{% else %} 				m = month+"/"+day+"/"+year;
				{% endif %}
				// ----------------------------------------------------------------------
				redirect('date='+m);
			},
			// ----------------------------------------------------------------------
			onSelect: function (selectedDate) {
				var dateAsObject = $(this).datepicker( 'getDate' );
				redirect('date='+selectedDate);
			}
			// ----------------------------------------------------------------------
		});
	});

	// ----------------------------------------------------------------------
	// KEY PRESS PREVIOUS AND NEXT 
	// ----------------------------------------------------------------------
	{% if keypress == "on" %}
		$('body').keydown(function(e) {
			//alert(e.keyCode);
                	if(e.keyCode == 39) {
				redirect(next_date);
			}
                	if(e.keyCode == 37) {
				redirect(prev_date);
			}
        	});
	{% endif %} 
	
	// ----------------------------------------------------------------------
	// Dinamic date display
	// ----------------------------------------------------------------------
	$(document).ready(function(){
 		$(window).scroll(function(){
  				// get the height of #wrap
  				var h = $('#wrap').height();
  				var y = $(window).scrollTop();
  				if( y > 100 ) {
   					// if we are show keyboardTips
					$("#date-tips").appendTo("body");
   					$("#date-tips").fadeIn("slow");
  				} else {
   					$('#date-tips').fadeOut('fast');
  				}
 			});
		})

	// ----------------------------------------------------------------------
	// DYNAMIC DIV BUTTONS.-
	// ----------------------------------------------------------------------
	$('#DATE-DIV-NEXT').click(function(){ redirect(next_date); });
	$('#DATE-DIV-PREV').click(function(){ redirect(prev_date); });
	
</SCRIPT>

<!-- CSS --> 
{% if show_date == "years" or show_date == "months" %}
	<STYLE>
	.ui-datepicker-header { margin-bottom: 1%; }
	.ui-datepicker-calendar { DISPLAY: NONE; }
	</STYLE>
{% endif %}

{% if show_date == "years" %}
	<STYLE>
	.ui-datepicker-month { DISPLAY: NONE; }
	</STYLE>
{% endif %}
