<div class="input-group input-group-lg" id='search-group'>
  	<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
  	<input id='sinput' type="text" class="form-control" maxlength=20 name="search" autocomplete="off" placeholder="Search" >
</div>
<SCRIPT NAME='AUTOCOMPLETE'>

	// Customized categories.-
	$.widget( "custom.catcomplete", $.ui.autocomplete, {
		_renderMenu: function( ul, items ) {
						var that = this,
						currentCategory = "";
						$.each( items, function( index, item ) {
							if ( item.category != currentCategory ) {
								ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
								currentCategory = item.category;
							}
							that._renderItemData( ul, item );
						});
					}
	});

	function searchWord(event,ui) {};

	// Search for word
	$("#sinput").change(searchWord);

	// Auto complete
	$("#sinput").catcomplete({
			source: '{{autocomplete_url}}',
			select: function(event, ui) { location.href=ui.item.value; },
	});

</SCRIPT>
