{% extends 'gallery/templates/section.html' %}
{% block wtitle %} {% endblock %}

{% block main-screen-read %}

	<!-- ARRAYS --> 
	<div id='leftArrow' class='myArrow' onClick='playPrevious();'>
		<span class="glyphicon glyphicon glyphicon-chevron-left"></span>
	</div>
	<div id='rightArrow' class='myArrow' onClick='playNext();'>
		<span class="glyphicon glyphicon glyphicon-chevron-right"></span>
	</div>


	<!-- MEDIA --> 
	<div id='MEDIA_CONTAINER' class='row'>
		<div class="col-xs-6 col-md-12">	
			<IMG class='img-thumbnail media_display' ID='MEDIA_IMAGE' SRC='' />
			<a class='media_display downloadLink' ID='MEDIA_FILE' href="" download="" ></a>
			<iframe class='media_display' ID='MEDIA_FRAME' src=""></iframe> 	
		</div>
	</div>

	<!-- DYNAMICALLY LOAD VALUES --> 
	<SCRIPT>

		/* LOAD CURRENT OBJECT */
		$(window).load(function() {
			setStop();
			progress('50%');
			fetchOne({{fid}},{{playlistID|default:0}},fetch);
			progress('0%');
		});

		/* SET KEY MOVEMENT */
		$('body').keydown(function(e) {
                        //alert(e.keyCode);
                        if(e.keyCode == 39) {
				playNext();
                        }
                        else if(e.keyCode == 37) {
				playPrevious();
                        }
                        else if(e.keyCode == 13) {
				playBtn();
                        }
                });

	</SCRIPT>

{% endblock %}
