{% extends 'gallery/templates/section.html' %}
{% block wtitle %} {% endblock %}

{% block main-screen-read %}

	<!-- ARRAYS --> 
	<div id='leftArrow' class='myArrow' onClick='playPrevious();'>
		<span class="glyphicon glyphicon glyphicon-chevron-left"></span>
	</div>
	<div id='rightArrow' class='myArrow' onClick='playNext();'>
		<span class="glyphicon glyphicon glyphicon-chevron-right"></span>
	</div>

	<!-- MEDIA --> 
	<div id='MEDIA_CONTAINER' class='row'>
		<div class="col-xs-6 col-md-12">	
			<IMG    ID='MEDIA_IMAGE' src="" class='img-thumbnail' />
			<!--
			<div ID='MEDIA_VIDEO' src="" poster=""></div>
			-->
			<iframe ID='MEDIA_FRAME' src=""></iframe> 	
			<div id="MEDIA_VIDEO" style="display:inline-block;">
				<a href="http://get.adobe.com/flashplayer/">Instalar Flashplayer</a> 
			</div>
			<div id="MEDIA_SOUND" style="display:inline-block;">
				<a href="http://get.adobe.com/flashplayer/">Instalar Flashplayer</a> 
			</div>
		</div>
	</div>

	<!-- LOAD CURRENT OBJECT -->
	<SCRIPT>
		/* START ON LOAD */
		$(window).load(function() {
			$('#playBtn #rand').hide();
			fetchOne({{fid}},{{playlistID|default:0}},fetch);
		});
		/* SET KEY MOVEMENT */
		$('body').keydown(function(e) {
			if(e.keyCode == 39) {
				playNext();
			}
			else if(e.keyCode == 37) {
				playPrevious();
			}
			else if(e.keyCode == 13) {
				playBtn();
			}
		});
	</SCRIPT>

{% endblock %}
