{% extends 'templates/main.html' %}
{% block custom-css %}  <LINK    REL="stylesheet" HREF="{{STATIC_URL}}css/file.css" /> {% endblock %}
{% block toolbar %} {% include 'gallery/templates/toolbar.html' %} {% endblock %}
{% block custom-js %}   
	<SCRIPT>
		var QUEUE_NEXT = new Array;
		var QUEUE_PREVIOUS = new Array;
		var NOW_PLAYING;
	</SCRIPT>
	<SCRIPT SRC='{{STATIC_URL}}js/file.js'		></SCRIPT> 
	<SCRIPT SRC='{{STATIC_URL}}js/meta.js'		></SCRIPT> 
	<SCRIPT SRC='{{STATIC_URL}}js/cgi.js'		></SCRIPT> 
	<script SRC="{{STATIC_URL}}flash/flashobject.js"></script>

{% endblock %}
