
<!-- DOWNLOAD --> 
<div type="button" class="btn btn-lg btn-default" > 
	<a id='downloadLink' type="button" href="" download="" >
		<span class="glyphicon glyphicon glyphicon-save"></span> 
	</a>
</div>

<!-- LOOP --> 
<button type="button" id='playBtn' class="btn btn-lg btn-default" onClick='playBtn();'>
	<A>
	<span id='gstop' class="glyphicon glyphicon-stop"></span>
	<span id='gplay' class="glyphicon glyphicon-play"></span>
	<span id='grand' class="glyphicon glyphicon-random"></span>
	<span id='gloop' class="glyphicon glyphicon-repeat"></span>
	</A>
</button>

<!-- SUPERUSER TOOLS --> 
{% if request.user.is_superuser %} 

	<!-- MOD --> 
	<button type="button" class="btn btn-lg btn-default" onClick='editFile();' >
		<A> <span class="glyphicon glyphicon-cog"></span> </A>
	</button>

	<!-- REMOVE --> 
	<button type="button" class="btn btn-lg btn-danger" onClick='removeFile();' >
		<A> <span class="glyphicon glyphicon-remove"></span> </A>
	</button>

<!-- END OF SUPERUSER TOOLS --> 
{% endif %}
