{% extends 'data/templates/section.html' %}

{% block wtitle %}
	{% if MYFOLDER.id %} {{MYFOLDER.name}} 
	{% else %} Carpetas
	{% endif %} 
{% endblock %}

{% block toolbar %}

        <!-- SECRET META DATA -->
        <INPUT ID='F1ID'     VALUE='{{MYFOLDER.father.id|default:0}}'   TYPE='HIDDEN' />
        <INPUT ID='FOLDERID' VALUE='{{MYFOLDER.id}}'                    TYPE='HIDDEN' />
        <INPUT ID='F2ID'     VALUE='{{MYFILE.father.id|default:0}}'     TYPE='HIDDEN' />
        <INPUT ID='FILEID'   VALUE='{{MYFILE.id}}'                      TYPE='HIDDEN' />

        <!-- TABLE -->
        <div class="row">
        <div class="col-md-8"> {% include 'data/templates/path.html' %} </div>
        <div class="col-md-4"> {% include 'data/templates/toolbar.html' %} </div>
        </div>

{% endblock %}

{% block main-screen-read %}
<DIV ID='FOLDER-CONTAINER'>

	<!-- SERVING FILES --> 
	<input id='fileinput' type="file" multiple>
	<script>
	//	$('#fileinput').trigger('click');   
	</script>

	<!-- FOLDERS --> 
	<div class="row">
		{% for f in pageobj %} 
  		<div class="col-xs-10 col-md-2">
    			<a href="{% url 'data_folder' f.id %}" class="thumb_folder thumbnail">
      				<img src="/static/img/folder.png" alt="...">
				<p>{{f.name|truncatechars:20}}</p>
    			</a>
  		</div>
		{% endfor %} 
	</div>	

	<!-- PAGER --> 
	{% include 'templates/paginator.html' %}

</DIV>
{% endblock %}
