{% extends 'data/templates/section.html' %}

{% block main-screen-read %}

	<FORM METHOD=POST>
        {% csrf_token %}
	<TABLE class="myform table">
	<TBODY>
		{% for f in form %} 
                <TR>
                 	<TD>{{f.label}}</TD>
                	<TD CLASS='ERR'>{{f.errors}}</TD> 
			<TD ID='INPUT-{{f.label}}'>{{f}}</TD>
		</TR>
                {% endfor %}
		<TR>
                        <TD COLSPAN=2>
				<button class="btn btn-lg btn-success" ><span class="glyphicon glyphicon-ok"> Guardar</span></button>	
                        </TD>
                </TR>
	</TBODY>
	</TABLE>
	</FORM>

{% endblock %}
