<ul class="breadcrumb">

	<!-- HOME --> 
	<li><A HREF='{% url 'data_home' %}'><span class="glyphicon glyphicon-th-large"></span> <b></b></A></li>

	<!-- FOLDER PATH --> 
	{% for f in MYFOLDER.array_path reversed %}
		<li class="active"><a href="{% url 'data_folder' f.id %}">{{f.name}}</a></li>
	{% endfor %} 

	<!-- FOLDER --> 
	{% if MYFOLDER %} 
		<li class="active"><a href="{% url 'data_folder' MYFOLDER.id %}">{{MYFOLDER.name}}</a></li>
	{% endif %} 

	<!-- FILE PATH --> 
	{% for f in MYFILE.father.array_path reversed %}
		<li class="active"><a href="{% url 'data_folder' f.id %}">{{f.name}}</a></li>
	{% endfor %} 

	<!-- FILE --> 	
	{% if MYFILE %} 
		<li class="active"><a href="{% url 'data_file' MYFILE.id %}">{{MYFILE.name}}</a></li>
	{% endif %} 

</ul>
