
<!-- ADD --> 
<!-- ADD SUB FOLDER: ONLY IF IS SUPERUSER, OR IF THE FOLDER IS PUBLIC TO WRITE --> 
{% if request.user.is_superuser or MYFOLDER.write %}
<A HREF="#" onClick='addFolder();'>
<button type="button" class="btn btn-lg btn-default">
	<span class="glyphicon glyphicon-plus"></span>
</button>
</A>
{% endif %} 

<!-- MOD --> 
{% if MYFOLDER.id %} 
	<!-- EDIT FOLDER ONLY IF SUPERUSER OR IF I AM THE OWNER --> 
	{% if request.user.is_superuser or request.user = MYFOLDER.user %} 
	<A HREF="#" onClick='editFolder();'>
	<button type="button" class="btn btn-lg btn-default">
		<span class="glyphicon glyphicon-cog"></span>
	</button>
	</A>
	{% endif %} 
{% elif MYFILE.id %} 
	<!-- EDIT FOLDER ONLY IF SUPERUSER OR IF I AM THE OWNER OF THE FILE --> 
	{% if request.user.is_superuser or request.user = MYFILE.user %} 
	<A HREF="{% url 'data_mod' 'file' MYFILE.id %}">
	<button type="button" class="btn btn-lg btn-default">
		<span class="glyphicon glyphicon-cog"></span>
	</button>
	</A>
	{% endif %} 
{% endif %} 

<!-- READ --> 
{% if MYFOLDER.id %} 
	<!-- CHANGE READ : ONLY IF SUPERUSER OR OWNER -->
	{% if request.user.is_superuser or MYFOLDER.user = request.user %} 
	<A HREF="#" onClick='readFolder();'>
	<button type="button" class="btn btn-lg btn-default">
		<span class="glyphicon glyphicon 
			{% if MYFOLDER.read %} glyphicon-eye-open
			{% else %} glyphicon-ban-circle {% endif %} 
		"></span>
	</button>
	</A>
	{% endif %} 
{% endif %} 

<!-- WRITE --> 
{% if MYFOLDER.id %} 
	{% if request.user.is_superuser or MYFOLDER.user = request.user %} 
	<!-- CHANGE WRITE: ONLY IF SUPERUSER OR OWNER -->
	<A HREF="#" onClick='writeFolder();'>
	<button type="button" class="btn btn-lg btn-default">
		<span class="glyphicon glyphicon 
			{% if MYFOLDER.write %} glyphicon-pencil
			{% else %} glyphicon-ban-circle {% endif %} 
		"></span>
	</button>
	</A>
	{% endif %} 
{% endif %} 

<!-- REMOVE --> 
{% if MYFOLDER.id %} 
	<!-- REMOVE FOLDER: ONLY SUPERUSERS AND OWNERS OF THE FOLDER --> 
	{% if request.user.is_superuser or MYFOLDER.user = request.user %} 
		<A HREF="#" onClick='removeFolder();'>
		<button type="button" class="btn btn-lg btn-danger">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
		</A>
	{% endif %} 
{% elif MYFILE.id %} 
	<!-- REMOVE FILE: ONLY SUPERUSERS AND OWNERS OF THE FILE --> 
	{% if request.user.is_superuser or MYFILE.user = request.user %} 
		<A HREF="{% url 'data_rem' 'file' MYFILE.id %}">
		<button type="button" class="btn btn-lg btn-danger">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
		</A>
	{% endif %} 
{% endif %} 

<!-- UPLOAD --> 
{% if MYFOLDER.id %} 
	<!-- UPLOAD FILE: ONLY IF SUPERUSER OR CAN WRITE TO FOLDER -->
	{% if request.user.is_superuser or MYFOLDER.write %} 
		<A HREF="{% url 'data_upload' MYFOLDER.id %}">
		<button type="button" class="btn btn-lg btn-default">
			<span class="glyphicon glyphicon glyphicon-open"></span>
		</button>
		</A>
	{% endif %} 
{% endif %} 

<!-- DOWNLOAD --> 
{% if MYFILE.id %} 
	<!-- DOWNLOAD FILE: ALWAYS -->
	<A HREF="{% url 'data_get' MYFILE.id %}">
	<button type="button" class="btn btn-lg btn-info">
		<span class="glyphicon glyphicon glyphicon-save"></span>
	</button>
	</A>
{% endif %} 

<!-- OWNER --> 
{% if request.user.is_superuser %}
{% if MYFOLDER or MYFILE %}
<button type="button" class="btn btn-lg btn-default">
	<span class="glyphicon glyphicon glyphicon-user ">
		{% if MYFOLDER %} {{ MYFOLDER.user.username }} 
		{% elif MYFILE %} {{ MYFILE.user.username }} 
		{% endif %}
	</span>
</button>
{% endif %} 
{% endif %} 
