{% extends 'templates/simple.html' %}
{% block head %} 

	<!-- *********************************************************
	* PLUGINS.-
	*********************************************************** --> 

		<!-- JQUERY -->
		<SCRIPT NAME='JQUERY' SRC="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"	></SCRIPT>
		<script src="//malsup.github.com/jquery.form.js"></script> 

		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>	

		<!-- JQUERY UI-->
		<SCRIPT NAME='JQUERY-UI' SRC='//code.jquery.com/ui/1.10.3/jquery-ui.js' ></SCRIPT>
		<LINK NAME='JQUERY-UI' REL='stylesheet' TYPE='TEXT/CSS' HREF='//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css' />


	<!-- *********************************************************
	* ONLOAD.-
	*********************************************************** --> 
	<SCRIPT NAME='ONLOAD'>
		$(document).ready(function() { 
			{% block javascript-onload %} {% endblock %} 
		});
		window.MEDIA_URL 	= '{{MEDIA_URL}}';  
		window.STATIC_URL   	= '{{STATIC_URL}}';  
		window.QUERY_STRING 	= '{{request.META.QUERY_STRING}}';
	</SCRIPT>

	<!-- *********************************************************
	* PHI.-
	*********************************************************** --> 
	
		<!-- GENERAL --> 
		<LINK 	NAME='GAMMA' REL="stylesheet" TYPE='TEXT/CSS' HREF="{{STATIC_URL}}css/style.css" />
		<SCRIPT NAME='GAMMA' SRC='{{STATIC_URL}}js/shared.js'></SCRIPT>

		<!-- APPLICATION --> 
		{% block custom-css %} {% endblock %} 
		{% block custom-js %} {% endblock %}

{% endblock %} 
