{% extends 'templates/main.html' %}

{% block wtitle %} &phi;hi! v2.0  {% endblock %}
{% block section-title %} The Gartlar Empire {% endblock %}
{% block section-subtitle %} &phi;hi! v2.0  {% endblock %}
{% block section-img %} /static/img/phi-green.png {% endblock %}

{% block main-screen-read  %}

	<!-- STEVE JOBS --> 
	<div class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/vXJYrrLGNAo"></iframe>
	</div>

{% endblock %}

