{% extends 'templates/head.html' %}

{% block body %}

        <!-- *********************************************************
        *
        *       REDIRECT IF USER IS LOCKED.-
        *
        *********************************************************** -->
        {% if not request.user.is_active %}
        <SCRIPT>
                window.location = "/login/";
        </SCRIPT>
        {% endif %}

	<!-- *********************************************************
	*
	*	TOP NAV
	*
	*********************************************************** --> 
	<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<!-- LEFT NAV -->
		<ul class="nav navbar-nav navbar-left">
			<LI><A HREF='{% url 'folder_home' %}'><span class="glyphicon glyphicon-home"> Gamma</span></A></LI>
		</ul>

		<!-- RIGHT NAV --> 
		<ul class="nav navbar-nav navbar-right">

			<!-- SEARCH --> 
			{% include 'templates/search.html' %} 

			<!-- USER AND LOGOUT -->
			<LI><A {% if request.user.is_superuser %}HREF='/admin/'{% endif %}> 
					<span class="glyphicon glyphicon-user"></span> {{request.user.username}} </A></LI>
			<LI><A HREF='{% url 'logout' %}'><span class="glyphicon glyphicon-log-out"> Salir</span></A></LI>
		</ul>

	</div><!-- /.container-fluid -->
	</nav>

	<!-- *********************************************************
	*
	*	PROGRESS.-
	*
	*********************************************************** --> 
	<div class="progress">
  		<div class="progress-bar progress-bar-striped active"  role="progressbar" id='main-progress'
		aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
  		</div>
	</div>
	<div id='shadow'></div>

	<!-- *********************************************************
	*
	*	MESSAGES.-
	*
	*********************************************************** --> 
	{% for m in messages %}
	<div class="alert alert-dismissible
			{% if m.tags = "success" %} alert-success {% endif %} 
			{% if m.tags = "error"   %} alert-danger  {% endif %} 
			{% if m.tags = "warning" %} alert-warning {% endif %} 
		" role="alert">
		{{m}}
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
		<span class="sr-only">Cerrar</span></button>
	</div>
	{% endfor %} 

	<!-- *********************************************************
	*
	*	TOOLBAR.-
	*
	*********************************************************** --> 
	<DIV ID='TOOLBAR' class="row">

		<!-- PATH --> 
		<div class="col-md-8"> 
			<ul class="breadcrumb">
				<li><A HREF='/folder/'><span class="glyphicon glyphicon-th-large"></span> </A></li>
				{% block pathbar %}{% endblock %} 
			</ul>
		</div>

		<!-- TOOLBAR --> 
		<div class="col-md-4"> 
			<div class="btn-group btn-group-lg">
				{% block toolbar %} {% endblock %} 
			</div>
		</div>

	<!-- END OF TOOLBAR --> 
	</DIV>

	<!-- *********************************************************
	*
	*	MAIN CONTENT DIV.-
	*
	*********************************************************** --> 
	<DIV ID='MAIN'> 
		{% block main-screen-read %}{% endblock %} 
		<div class="clear-both"></div>
	</DIV>

{% endblock %}
