{% extends 'templates/head.html' %}

{% block body %}

        <!-- *********************************************************
        *
        *       REDIRECT IF USER IS LOCKED.-
        *
        *********************************************************** -->
        {% if not request.user.is_active %}
        <SCRIPT>
                window.location = "/login/";
        </SCRIPT>
        {% endif %}

	<!-- *********************************************************
	*
	*	TOP NAV
	*
	*********************************************************** --> 
	{% include 'templates/nav.html' %} 

	<!-- *********************************************************
	*
	*	MAIN DEVICE.-
	*
	*********************************************************** --> 
	<DIV ID='MAIN'>

		<!-- *********************************************************
		*
		*	RIGHT BAR.-
		*
		*********************************************************** --> 
		<DIV ID='MAIN-RIGHT'>

			<!-- *********************************************************
			*
			*	SEARCH AND DATE.-
			*
			*********************************************************** --> 
			<DIV ID='PAGER-CONTAINER'>
				<DIV ID='SEARCHDIV'	><FORM METHOD='GET'>{% block search %}{% endblock %}</FORM></DIV>
				<DIV ID='DATEDIV'	><FORM METHOD='GET'>{% block datediv %}{% endblock %}</FORM></DIV>
				<div class="clear-both"></div>
			</DIV>

			<!-- *********************************************************
			*
			*	TOOLS
			*
			*********************************************************** --> 
			<div class="dropdown" id='tools'>
  				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
					<span class="glyphicon glyphicon-cog"></span> Tools
    					<span class="caret"></span>
  				</button>
  				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<!--
    					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
					-->
					{% block main-screen-tools  %}{% endblock %} 
 				</ul>
				<script>
					// This will hide the tools button if there are no
					// options available for this app.-
					$(window).load(function(){
						var t = $('#tools .dropdown-menu li');
						if (t[0] == undefined ) 
							$('#tools').hide();
					});
				</script>
			</div>

			<!-- *********************************************************
			*
			*	MESSAGES.-
			*
			*********************************************************** --> 
			{% for m in messages %}
			<div class="alert alert-dismissible
					{% if m.tags = "success" %} alert-success {% endif %} 
					{% if m.tags = "error"   %} alert-danger  {% endif %} 
					{% if m.tags = "warning" %} alert-warning {% endif %} 
				" role="alert">
				{{m}}
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
			</div>
			{% endfor %} 

		</DIV>

		<!-- *********************************************************
		*
		*	MAIN LEFT DIV.-
		*
		*********************************************************** --> 
		<DIV ID='MAIN-LEFT'>

			<!-- *********************************************************
			*
			*	SECTION IMAGE AND TITLE.-
			*
			*********************************************************** --> 
			<DIV ID='SECTION-TITLE-CONTAINER'>
				<IMG ALT="" ID='SECTION-IMG' SRC='{% block section-img %}{% endblock %}'>
				<DIV ID='SECTION-TITLE'>
					<b> {% block section-subtitle %} {% endblock %} </b>
					<SPAN ID='SECTION-SUBTITLE'> {% block section-title %} {% endblock %}</SPAN>
				</DIV>
				<DIV CLASS='clear-both'></DIV>
			</DIV>

			<!-- *********************************************************
			*
			*	MAIN CONTENT
			*
			*********************************************************** --> 
			<DIV ID='MAIN-CONTENT'>

				<!-- *********************************************************
				* APP CONTENT.-
				*********************************************************** --> 
				<DIV ID='APP-CONTENT'>	
					<DIV ID='GRAPHS'> {% block main-screen-chart  %}{% endblock %} </DIV>
					<DIV ID='SCREEN'> {% block main-screen-read   %}{% endblock %} <DIV class='clear-both'></DIV></DIV>
				</DIV>

				<!-- *********************************************************
				* EMPTY DIV (Used to calculate sizes by jQuery.-
				*********************************************************** --> 
				<DIV ID='EMPTY-CONTENT'></DIV>

			</DIV>

		</DIV>

		<!-- CLEAR --> 
		<div class="clear-both"></div>
	</DIV>

	<!-- *********************************************************
	*
	* 	FOOTER.-
	*
	*********************************************************** --> 
	<DIV ID='FOOTER'>
		{% block footer %}{% endblock %} 
		<CENTER>
			<h2 CLASS='ITALIC'>{{random_phrase}}</h2>
		</CENTER>
	</DIV>

{% endblock %}
