{% extends 'templates/head.html' %}

{% block body %}

        <!-- *********************************************************
        *
        *       REDIRECT IF USER IS LOCKED.-
        *
        *********************************************************** -->
        {% if not request.user.is_active %}
        <SCRIPT>
                window.location = "/login/";
        </SCRIPT>
        {% endif %}

	<!-- *********************************************************
	*
	*	TOP NAV
	*
	*********************************************************** --> 
	{% include 'templates/nav.html' %} 

	<!-- *********************************************************
	*
	*	MAIN DEVICE.-
	*
	*********************************************************** --> 
	<DIV ID='MAIN'>

		<!-- *********************************************************
		*
		*	RIGHT BAR.-
		*
		*********************************************************** --> 
		<DIV ID='MAIN-RIGHT'>

			<!-- *********************************************************
			*
			*	SEARCH AND DATE.-
			*
			*********************************************************** --> 
			<DIV ID='PAGER-CONTAINER'>
				<DIV ID='SEARCHDIV'	><FORM METHOD='GET'>{% block search %}{% endblock %}</FORM></DIV>
				<DIV ID='DATEDIV'	><FORM METHOD='GET'>{% block datediv %}{% endblock %}</FORM></DIV>
				<div class="clear-both"></div>
			</DIV>

			<!-- *********************************************************
			*
			*	MESSAGES.-
			*
			*********************************************************** --> 
			{% for m in messages %}
			<div class="alert alert-dismissible
					{% if m.tags = "success" %} alert-success {% endif %} 
					{% if m.tags = "error"   %} alert-danger  {% endif %} 
					{% if m.tags = "warning" %} alert-warning {% endif %} 
				" role="alert">
				{{m}}
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;
			</div>
			{% endfor %} 

		</DIV>

		<!-- *********************************************************
		*
		*	MAIN LEFT DIV.-
		*
		*********************************************************** --> 
		<DIV ID='MAIN-LEFT'>

			<!-- *********************************************************
			*
			*	SECTION IMAGE AND TITLE.-
			*
			*********************************************************** --> 
			<DIV ID='SECTION-TITLE-CONTAINER'>
				<IMG ALT="" ID='SECTION-IMG' SRC='{% block section-img %}{% endblock %}'>
				<DIV ID='SECTION-TITLE'>
					<b> {% block section-subtitle %} {% endblock %} </b>
				</DIV>
				<DIV CLASS='clear-both'></DIV>
			</DIV>

			<!-- *********************************************************
			*
			*	MAIN CONTENT
			*
			*********************************************************** --> 
			<DIV ID='MAIN-CONTENT'> {% block main-screen-read   %}{% endblock %} </DIV>

		</DIV>

		<!-- CLEAR --> 
		<div class="clear-both"></div>
	</DIV>

	<!-- *********************************************************
	*
	* 	FOOTER.-
	*
	*********************************************************** --> 
	<DIV ID='FOOTER'>
		{% block footer %}{% endblock %} 
	</DIV>

{% endblock %}
