<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

	<!-- LEFT NAV --> 
	<div class="navbar-header">
		<a class="navbar-brand" href="#"> 
			<span class="glyphicon glyphicon-home"> Gamma</span>
		</a>
	</div>

	<!-- RIGHT NAV --> 
	<ul class="nav navbar-nav navbar-right">

		<!-- SEARCH --> 
		{% include 'templates/search.html' %} 

		<!-- USER AND LOGOUT -->
                <LI><A {% if request.user.is_superuser %}HREF='/admin/'{% endif %}>
		<span class="glyphicon glyphicon-user"></span> {{request.user.username}}
		</A></LI>
       		<LI><A HREF='{% url 'logout' %}'><span class="glyphicon glyphicon-log-out"> Salir</span></A></LI>
      	</ul>

</div><!-- /.container-fluid -->
</nav>
