<!-- README
	page = request.GET.get('page') or 1
        pageobj = Paginator(table,20,orphans=5).page(page)
	include 'templates/tools/paginator.html'
-->
{% if pageobj and pageobj.paginator.num_pages > 1 %}
	<CENTER>
	<ul class="pagination pagination-lg">

		<!-- ARRAYS BACK --> 
		{% if pageobj.has_previous %}
              	<LI><a href='?page=1'> <span class="glyphicon glyphicon-backward"></span> </A></LI>
              	<LI><a href='?page={{pageobj.previous_page_number}}'> <span class="glyphicon glyphicon-chevron-left"></span> </A></LI>
		{% endif %} 

		<!-- PREVIOUS PAGES --> 
		{% if pageobj.number > 2 %}<li><a href='?page={{pageobj.number|add:-2}}'>{{pageobj.number|add:-2}}</a></li>{%endif%}
		{% if pageobj.number > 1 %}<li><a href='?page={{pageobj.number|add:-1}}'>{{pageobj.number|add:-1}}</a></li>{%endif%}

		<!-- CURRENT --> 
		<li><a href="#"><b><u>{{pageobj.number}}</u></b></a></li>

		<!-- NEXT PAGES --> 
		{% if pageobj.number < pageobj.paginator.num_pages|add:-0 %}
		<li><a href='?page={{pageobj.number|add:1}}'>{{pageobj.number|add:1}}</a></li>
		{%endif%}
		{%if pageobj.number < pageobj.paginator.num_pages|add:-1 %}
		<li><a href='?page={{pageobj.number|add:2}}'>{{pageobj.number|add:2}}</a></li>
		{%endif%}
		
		<!-- NEXT ARRAYS --> 
		{% if pageobj.has_next %}
              	<LI><a href='?page={{pageobj.next_page_number}}'> <span class="glyphicon glyphicon-chevron-right"></span> </A></LI>
              	<LI><a href='?page={{pageobj.paginator.num_pages}}'> <span class="glyphicon glyphicon-forward"></span> </A></LI>
		{% endif %} 

	</ul>
	</CENTER>

{% endif %}

