
<!-- HTML --> 
<form class="navbar-form navbar-left" role="search">
	<div class="input-group">
  		<input id='sinput' type="text" class="form-control" maxlength=20 name="search" autocomplete="off" placeholder="Buscar" >
		<span class="input-group-addon">
			<button class="NO-STYLE-BUTTON"><span class="glyphicon glyphicon-search"><span></button>
		</span>
	</div>
</form>

<!-- JAVASCRIPT --> 
<SCRIPT NAME='AUTOCOMPLETE'>

	// Customized categories.-
	$.widget( "custom.catcomplete", $.ui.autocomplete, {
		_renderMenu: function( ul, items ) {
						var that = this,
						currentCategory = "";
						$.each( items, function( index, item ) {
							if ( item.category != currentCategory ) {
								ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
								currentCategory = item.category;
							}
							that._renderItemData( ul, item );
						});
					}
	});

	function searchWord(event,ui) {};

	// Search for word
	$("#sinput").change(searchWord);

	// Auto complete
	$("#sinput").catcomplete({
			source: '/search/',
			select: function(event, ui) { location.href=ui.item.value; },
	});

</SCRIPT>
